body {
    font-family: Arial, Verdana, "Times-New-Roman";
    text-align: center;
    box-sizing: border-box;
    background: #eeee;
    max-width: 1000px;
    margin: 0 auto;
}

.harissa,
.pesto,
.chix {
    padding: 10px;
    margin: 30px;
}

h1,
button {
    font-size: 48px;
    font-weight: 800;
    color: red;
}

.homebut {
    width: 800px;
    padding: 5px 10px;
    margin: 20px;
    color: black;
    background-color: aqua;
}

.retbut {
    background-color: thistle;
}

.p-home{
    font-size: 39px;
    color: black;
}

h2 {
    font-size: 34px;
    color: black;
}

.p-recip {
    font-size: 32px;
    color: black;
}

h3 {
    font-size: 30px;
    color: black;
}
h4 {
    font-size: 28px;
    color: black;
}

.lists,
.list-in {
        font-size: 28px;
        color: black;
        outline-color: lightgreen;
        outline-width: 5px;
        display: inline-block;
}
.lists {
    outline-style: outset;
}

.list-in {
    outline-style: inset;
}

li {
    padding-bottom: 10px;
    padding: 5px 10px;
    text-align: left;
}

ol {
    padding-left: 55px;
}

img:hover {
    opacity: .5;
}

img {
    height: 450px;
    width: auto;
}